#!/bin/bash
set -euo pipefail

{{ if eq .chezmoi.os "darwin" }}
login_shell=$(dscl localhost -read Local/Default/Users/$(whoami) UserShell | cut -d' ' -f2)
{{ else }}
login_shell=$(getent passwd $(whoami) | cut -d: -f7)
{{ end }}

if [[ "$(basename "$login_shell")" != "zsh" ]]; then
  echo "Please set shell to zsh (hint: sudo chsh $(whoami) -s $(which zsh)"
  exit 1
fi

{{ if eq .chezmoi.os "darwin" }}
if ! command -v brew >/dev/null 2>&1; then
  echo "Please install brew"
  exit 1
fi
{{ end }}
